* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 300px;
}

/* header */

.menu {
  background: black;
  padding: 40px 0;
}

.menu .container {
  flex-wrap: nowrap;
}

.menu-nav {
  order: 2;
  align-self: center;
  margin-left: 50px;
}

.menu-nav ul {
  list-style: none;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  font-size: 1.5em;
}

.menu-nav a:hover {
  background: white;
}

.menu-logo {
  padding: 10px;
  order: 1;
}

/* introduction */

.introduction h1 {
  padding-top: 120px;
  flex: 1;
  font-size: 4em;
  color: blue;
  text-transform: uppercase;
  text-align: center;
}

.introduction img {
  display: block;
  max-width: 100%;
}

/* superman */
.superman {
  margin: 30px 0;
}

.superman .image {
  order: 1;
}

.superman .presentation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  order: 2;
}

/* batman */
.batman {
  margin: 30px 0;
}

/* about */
.about {
  margin: 0 auto;
}

.about p {
  width: 960px;
  margin: 20px auto;
  font-size: 1.5em;
  text-align: justify;
}

.teste {
  margin: 1400px auto;
  background: blue;
  width: 100%;
  height: 600px;
}

/* media queries */

@media only screen and (min-width: 774px) and (max-width: 959px) {
  .menu-nav a {
    margin: 5px;
    padding: 20px;
  }

  .menu-nav {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 773px) {
  .menu .container {
    flex-direction: column;
  }

  .menu-nav ul {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menu-nav li {
    margin: 10px;
    padding: 20px;
  }

  .menu-logo {
    margin: 0 auto;
   }
   
}
